*{
    background-color: rgb(255, 174, 221);
    font-size: 20px;
}
li{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}
#metodologias{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 40px;
}
#img{
    image-orientation: left;
    size: 23px;
    margin-left: 20px;
    margin-right: 10px;
    width: 200px;
    
}
